.background_photo {
  background-image: url("../resources/netflix_background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.logo {
  display: flex;
  justify-content: left;
  padding: 2%;
}
.main_box {
  width: 500px;
  height: 525px;
  background-color: black;
  opacity: 0.7;
  margin: auto;
  border-radius: 10px;
}
.textbox-title {
  color: white;
  padding-top: 5%;
  padding-left: 9%;
  font-size: 48px;
  text-align: left;
}
.text-box {
  padding: 0 5%;
  text-align: center;
  position: relative;
}
.text-input {
  width: 90%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

#password {
  margin-top: 35px;
}

.textbox-footer {
  margin-top: 20px;
  padding: 0 10%;
  text-align: left;
}
p {
  color: grey;
  font-size: 12px;
  margin-top: 10px;
  width: 90%;
  margin-bottom: 0;
}
.more-details-ref {
  color: grey;
  font-size: 10px;
  text-decoration: underline;
}

.error {
  color: #e50914;
  font-size: 14px;
  position: absolute;
  text-align: left;
  padding-left: 5%;
  margin-top: 2px;
  width: 85%;
}

/* Signup specific styles */
.signup-button {
  width: 90%;
  height: 50px;
  margin-top: 30px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #b00610;
}

.sign-in-text {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.sign-in-ref {
  color: #e50914;
  text-decoration: none;
  font-weight: bold;
}

.sign-in-ref:hover {
  text-decoration: underline;
  color: #b00610;
}

#username {
  margin-top: 35px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .main_box {
    width: 90%;
    max-width: 450px;
    height: auto;
    min-height: 450px;
    margin: 20px auto;
    padding-bottom: 30px;
  }

  .logo {
    padding: 4% 5%;
  }

  .logo img {
    max-width: 120px;
    height: auto;
  }

  .textbox-title {
    font-size: 32px;
    padding-top: 8%;
    padding-left: 8%;
  }

  .text-input {
    width: 85%;
    height: 50px;
    font-size: 16px;
    padding-left: 15px;
  }

  .signup-button {
    width: 85%;
    height: 50px;
    font-size: 16px;
  }

  .textbox-footer {
    padding: 0 8%;
  }

  .sign-in-text {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .main_box {
    width: 95%;
    margin: 10px auto;
  }

  .textbox-title {
    font-size: 28px;
    padding-top: 10%;
  }

  .text-input {
    height: 48px;
    font-size: 16px;
  }

  .signup-button {
    height: 48px;
    font-size: 16px;
  }
}
